# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
*.manifest
*.exe
*.dll
*.pyd

# Virtualenv
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
*.lnk

# Project-specific
release/
